<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="mysql-rcp" sequenceNumber="1">
    <locations>
        <location path="C:\source\learning\mysql-rcp\target-platform\mysql" type="Directory"/>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
            <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2026-06"/>
        </location>
	    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.40.0"/>
		    <unit id="org.eclipse.orbit.maven.org.dom4j.feature.group" version="4.40.0"/>
            <unit id="com.google.gson" version="0.0.0"/>
	    </location>

    </locations>
    <environment>
        <os>win32</os>
        <ws>win32</ws>
        <arch>x86_64</arch>
    </environment>
    <targetJRE path="JavaSE-21"/>
</target>
